{% extends "base.html" %}

{% block content %}

{% include "profile/menu.html" %}

<div class="block"> 
<div class="content">
<div class="inner"> 
	 
	<h2> {{ title }}</h2>
	 
	<table class="table">
		{% for item in list %}
			<tr> 
				<td> <strong> {{ item.0 }} </strong> </td>
				<td> <strong> {{ item.1|default:'' }} </strong> </td>
			</tr> 
		{% endfor %}

	</table>
	
	<div class="group navform wat-cf">
		<a href="{{request.path}}edit" class="button">
			<img src="{{ MEDIA_URL}}images/icons/vcard_edit.png" alt="Edit" />Edit
		</a>
	</div>

</div>
</div>
</div>



{% endblock %}