{% block menu %}

{% if user.is_authenticated %}

  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li {% if title == 'Basic Details' %} class="active" {% endif %}>
      	<a href="{% url display_profile %}">Basic Details</a>
	  </li>
      <li {% if title == 'Personal Details' %} class="active" {% endif %}>
      	<a href="{% url display_personal_details %}">Personal Details</a>
	  </li>
      <li {% if title == 'Family Details' %} class="active" {% endif %}>
      	<a href="{% url display_family_details %}">Family Details</a>
	  </li>
      <li {% if title == 'Contact Details' %} class="active" {% endif %}>
      	<a href="{% url display_contact_details %}">Contact Details</a>
	  </li>
      <li {% if title == 'Education Details' %} class="active" {% endif %}>
      	<a href="{% url display_education_details %}">Education Details</a>
	  </li>
      <li {% if title == 'Misc Details' %} class="active" {% endif %}>
      	<a href="{% url display_misc_details %}">Misc Details</a>
	  </li>
    </ul>
  </div>

{% endif %}

{% endblock %}  
