/* WRITE YOUR CSS CODE HERE */

#aside ul li a {
    font-weight:bold;
    border-bottom: none;
}

/* tables */
#content table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

#content table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

#content table th.first {
  width: 30px;
}

#content table th.last {
  width: 200px;
}

#content table .checkbox {
  margin-left: 10px;
}

#content table td {
  padding: 10px;
  border: none;
  border-bottom:1px solid #F0F0EE;
}

#content table td.last {
  text-align: right;
}

/* list */
#content ul li {
    background: none;
}

/* BUTTONS */
.edit, button{
    width:150px;
    height:37px;
    line-height:37px;
    border:none;
    margin-top:20px;
    background:url(../design/form_button.gif) no-repeat 0 0;
    color:#fff;
    cursor:pointer;
    font-weight:bold;
    text-align:center;
}

.edit a { color:#fff;}

/* Images */
img {
    padding:10px;
    vertical-align: middle;
}

/* Some empty space */
.empty_space {
    margin-top:50px;
    margin-bottom:0px;
}

/* Main Menu */
#menu ul li a {
    font-weight:bold;
    color:#666;
}

#menu ul li a span {
    /* Fix for ugly underline in Firefox */
    padding:7px 15px 8px 8px;
}

/* Tray */
#tray a{
    text-decoration: none;
}

#main-title {
    font-size: 17px;
}

/* Profile Listing */

/* Paginator */
.endless_loading {
    text-align: center;
}

/* Search box in side menu */
#aside #search fieldset .input-text {
    width: 120px;
}

.profile_search_page {
    background: #3e464d;
    padding-top: 40px;
}

.profile_search_listing {
    clear: both;
    width: 630px;
    padding: 20px 30px;
    background: #fff;
    margin-left: auto ;
    margin-right: auto ;
}

.profile_search_listing_bottom {
    width: 690px;
    height: 36px;
    margin-bottom: 20px;
    background: url(../images/profile_search_listing_bottom.jpg) no-repeat;
    margin-left: auto ;
    margin-right: auto ;
}
