{% extends "base.html" %}

{% block title %}{{ "User login" }}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("input[type='text'], input[type='password']").addClass("text");
		$("#id_username").focus();
	});
</script>
{% endblock %}

{% block content %}

	<form method="post">
		{% csrf_token %}
		
		{% if form.non_field_errors %}
			<div class="msg error">
				{{ form.non_field_errors|join:' ' }}
			</div>
		{% endif %}
		
		<table>
		    {% for field in form %}
			<tr>
				<td> <label> <strong> {{ field.label }} </strong> </label>	</td>
	            
				<td> {{ field }} </td> 
				
				<td> 				
					{% if field.errors %}
						<div class="msg error">
				  		{{ field.errors|join:' ' }}
				  		</div>
					{% else %}
						{{ field.help_text }}
					{% endif %}
 				</td>
			</tr>
		    {% endfor %}
		</table>

	        <button type="submit"> Login </button>
	</form> 


{% endblock %}
