{% extends "admin/base_site.html" %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <h1> Password Reset </h1>
	
    <h2> Forgot your password? Enter your register number below, and we'll e-mail instructions for setting a new one.
	</h2>
	
	<br/><br/>
	
    <form action="" method="post">
    	{% csrf_token %}

        {% if form.register_number.errors %}
			{{ form.register_number.errors }}
			<br/><br/>
		{% endif %}
		
        <ul>
        	<label for="id_register_number">
        	<strong> Register Number </strong>
			</label> 
			{{ form.register_number }}
			<br/><br/> 
			<input type="submit" value="Reset my password" />
		</ul>
    </form>
{% endblock %}
