{% extends "base.html" %}

{% load avatar_tags %}

{% block submenu %}
	{% include "myprofile/submenu.html" %}
{% endblock %}   

{% block content %}

	{% for name, url in settings.MY_PROFILE_MENU %}
		{% if url in request.path %}
			<h1> {{ name }}</h1>
		{% endif %}
	{% endfor %}
	
	<p></p>
	
	<div class="col50"> 
		<table>
			{% for name, value in objects %}
				<tr> 
					<td> <strong> {{ name|title }} </strong> </td>
					<td> <strong> {{ value|default:''|linebreaksbr  }} </strong> </td>
				</tr> 
			{% endfor %}
		</table>
		
		<a href="{{request.path}}edit"><p class="edit">Edit</p></a>
	</div> <!-- /col50 --> 
 
	<div class="col50 f-right">
		<div class="t-center">
			{% avatar request.user 250 %}
		</div> <!-- /t-center -->
	</div> <!-- /col50 -->

{% endblock %}