{% extends "email_base.html" %}

{% block content %}

<h3>
Hi {{ first_name }},
</h3>

<p>
Wondering what is Vidyalaya Mail? What can you do with it?
Read on.
</p>

<h2 style="margin-top: 30px;"> Professional email id </h2>
<p>
Email id is the key component of personal branding. With regular mail services, it is very difficult to get good email ids, as all good ones are already taken. So most of the students settle with ids like prabhu1987.rocks@gmail.com or prabhu_the_cute@yahoo.com, which are ugly and considered unprofessional.
</p>

<p>
With Vidyalaya Mail, you will get email id like prabhu@rmv.ac.in. Clean and Professional. Will create a positive impression when used in Resume or technical papers.
</p>

<h2 style="margin-top: 30px;"> No expiration </h2>
<p>
With regular email services, your account will be deleted after 3-6 months of inactivity. With Vidyalaya Mail, your account stays forever, whether you use it or not. You can continue using it even after your graduation. You are one of us, whether as a student or as an alumni.
<p>

<h2 style="margin-top: 30px;"> No Advertisements </h2>
<p>
Vidyalaya Mail service is 100% ad-free. You will never see any kind of ads anywhere in the whole suite. Period. Welcome to distraction-less online experience.
</p>

<h2 style="margin-top: 30px;"> Address Auto-complete </h2>
<p>
Are you trying to reach your classmates or teachers, but don't know their email id? No problem, just pull up compose page and start typing their name or register number. Their email id will popup automatically.
</p>

<h2 style="margin-top: 30px;"> Forgot your password? </h2>
<p>
With regular mail services, if you forget your password, it's a pain to reset it. You have to answer so many questions and you don't even remember what answers you gave when you registered. With Vidyalaya Mail, just send an email to help@rmv.ac.in and we will reset it within minutes.
</p>

<h2 style="margin-top: 30px;"> Account Hacked? </h2>
<p>
Ever thought about it? What would you do when somebody hacks into your gmail or yahoo account? What if they change security questions? Literally you are helpless. Help desk can not help you because they can not distinguish between you and hacker.
</p>

<p>
With Vidyalaya Mail, it's dead simple. We know you personally, so if you say you account is hacked, we will restore and give it back to you. No questions asked.
</p>

<h2 style="margin-top: 30px;"> Simple Export/Import </h2>
<p>
You can import all your existing emails from gmail or yahoo to Vidyalaya Mail or export/forward Vidyalaya Mails to your personal account. With a simple one-time setup, you can eliminate the need to check multiple accounts and save yourself a lot of time.
</p>

<h2 style="margin-top: 30px;"> Groups </h2>
<p>
Need to send an email to all your classmates? No need to type individual email ids. An email to 09mca@rmv.ac.in will be delivered to all students of MCA 09-12 batch. Just replace 09mca with your batch name.
</p>

<h2 style="margin-top: 30px;"> Discussion Forums </h2>
<p>
Want to discuss your ideas with people of similar interests? Simple. Just create a new group or join an existing group. You can join any number of groups, ranging from Cricket Fans to C++ Lovers to Java Geeks.
</p>

<h2 style="margin-top: 30px;"> Integrated chat </h2>
<p>
You can communicate instantly with your friends who are online right from the Email interface. In addition, all your chats are automatically saved in your Email application, so you can always search for old chat transcripts.
</p>

<h2 style="margin-top: 30px;"> Real-time collaboration </h2>
<p>
Using Google Docs, you can create documents, spreadsheets, and presentations, and you and your classmates can view and edit them at the same time.
</p>

<h2 style="margin-top: 30px;"> Personal Website </h2>
<p>
Wish to have a personal website? No need to mess up with services like weebly or webs, which impose several limits and display ads in your site. Just go to Vidyalaya Sites and create a website with a few clicks. It will be hosted at yourname.rmv.ac.in. No ads, No limits. Showcase yourself to the world with dignity.
</p>

<h2 style="margin-top: 30px;"> Easy-to-build team web sites </h2>
<p>
With Google Sites, your class has the ability to quickly publish a robust internal web site on which to gather all sorts of shared information, such as documents, spreadsheets, presentations, files, photos and videos. You can even embed Google calendars and other gadgets on your site!
</p>

<hr>


<h2 style="margin-top: 30px;"> List of services offered by Vidyalaya Mail </h2>

<ul>
<li> Mail - <a href="http://mail.rmv.ac.in"> http://mail.rmv.ac.in </a> </li>
<li> Docs - <a href="http://docs.rmv.ac.in"> http://docs.rmv.ac.in </a> </li>
<li> Groups - <a href="http://groups.rmv.ac.in"> http://groups.rmv.ac.in </a> </li>
<li> Sites - <a href="http://s.rmv.ac.in"> http://s.rmv.ac.in </a> </li>
<li> Calendar - <a href="http://calendar.rmv.ac.in"> http://calendar.rmv.ac.in </a> </li>
</ul>

<p>
And many more exciting services like Google App Engine, Google Moderator, Google Code, Google Reader are in the queue.
</p>

<p>
To learn more, visit <a href="http://google.rmv.ac.in"> http://google.rmv.ac.in </a>
</p>

{% endblock %}
