<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 

<head> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="content-language" content="en" /> 
	<meta name="robots" content="noindex,nofollow" /> 
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/reset.css" /> <!-- RESET --> 
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/main.css" /> <!-- MAIN STYLE SHEET --> 
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/2col.css" title="2col" /> <!-- DEFAULT: 2 COLUMNS --> 
	<link rel="alternate stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/1col.css" title="1col" /> <!-- ALTERNATE: 1 COLUMN --> 
	<!--[if lte IE 6]><link rel="stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/main-ie6.css" /><![endif]--> <!-- MSIE6 --> 
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/style.css" /> <!-- GRAPHIC THEME --> 
	<link rel="stylesheet" media="screen,projection" type="text/css" href="{{ MEDIA_URL}}css/mystyle.css" /> <!-- WRITE YOUR CSS CODE HERE --> 
	 
	<title>{% block title %} {{ settings.TITLE }} {% endblock %}</title> 
</head> 

<body>
	
	{% if site_wide_announcements %}
	    <div id="site_wide_announcements">
	        <ul>
	            {% for announcement in site_wide_announcements %}
	            <li>
	                <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
	                <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">Hide announcement</a>
	            </li>
	            {% endfor %}
	        </ul>
	    </div>
	{% endif %}
	
  <div id="main">
  {% if user.is_authenticated %}	
  	 
	<!-- Tray --> 
	<div id="tray" class="box"> 
 
		<p class="f-left box"> 
 
 			<!-- Switcher --> 
			<span class="f-left" id="switcher"> 
				<a href="#" rel="1col" class="styleswitch ico-col1" title="Display one column"><img src="{{ MEDIA_URL}}design/switcher-1col.gif" alt="1 Column" /></a> 
				<a href="#" rel="2col" class="styleswitch ico-col2" title="Display two columns"><img src="{{ MEDIA_URL}}design/switcher-2col.gif" alt="2 Columns" /></a> 
			</span> 

			<strong>{{ settings.TITLE }}</strong>
 
		</p> 
 
		<p class="f-right">
			User: <strong><a href="#">{{ request.user }}</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			{% if user.is_superuser %}
				<strong><a href="/admin">Admin</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			{% endif %}
			<strong><a href="{% url logout %}" id="logout">Log out</a></strong>
		</p> 
 
	</div> <!--  /tray --> 
 
	{% block mainmenu %}
		{% include "mainmenu.html" %} 
	{% endblock %}
	
	<div id="cols" class="box">

		<!-- Aside (Left Column) --> 
		<div id="aside" class="box">

			{% block submenu %} 
			{% endblock %}			

			<div class="padding box">
			<div class="empty_space">
				<!-- Create a new project --> 
				<p id="btn-create" class="box"><a href="#"><span>Create a new project</span></a></p> 
			</div> 			
			</div>
			
		</div> <!-- /aside -->
		
		<hr class="noscreen" /> 	
  {% endif %}
		  	
		<!-- Content (Right Column) --> 
		<div id="content" class="box"> 	
		
			{% if messages %}
				{% for message in messages %}
					<div class="msg {{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			<p> </p>
		
			{% block content %} 
			{% endblock %}
			
		</div> <!-- /content --> 
	
	</div> <!-- /cols --> 
	
	<hr class="noscreen" /> 
 
	<!-- Footer --> 
	<div id="footer" class="box"> 
 
		<p class="f-left"></p> 
		<p class="f-right"></p> 
 
	</div> <!-- /footer --> 

</div> <!-- /main --> 

	<script type="text/javascript" src="{{ MEDIA_URL}}js/jquery.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL}}js/switcher.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL}}js/toggle.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL}}js/ui.core.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL}}js/ui.tabs.js"></script> 
	<script type="text/javascript"> 
	$(document).ready(function(){
		$(".tabs > ul").tabs();
	});
	</script>
	
	{% block extrajs %} {% endblock %}
 
</body> 
</html>				
			

	
