<div style="width:600px;
            padding:20px;
            font-size:12px;
            font-family:Arial, Helvetica, sans-serif;
            line-height:18px">
    <a href="http://rmv.ac.in" style="color:#504726; text-decoration:none" target="_blank">
        <div style="border:1px solid #ccc;
                    padding:40px 10px 10px 10px;
                    background:#ffe17a;
                    font-weight:lighter;
                    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
                    font-size:18px;
                    text-align:right;">
        Ramakrishna Mission Vidyalaya
        </div>
    </a>

    <div style="margin-top:20px;
                padding-left:10px;
                padding-right:10px;
                padding-bottom:5px;
                color:#333">

        {% block content %}
            {{ content }}
        {% endblock %}

        <div style="background-color:#eee;
                    border:1px solid #ccc;
                    padding:10px 10px 10px 10px;
                    margin-top:30px;
                    margin-bottom:40px">
            <h3>
            Help us improve this service - <a href="http://www.formspring.me/vidyalaya"> Share your ideas </a>
            </h3>
        </div>
    </div>
</div>
