{% block mainmenu %}

	<hr class="noscreen" /> 

	<!-- Menu --> 
	<div id="menu" class="box"> 
 
		<ul class="box f-right"> 
			<li><a href="http://mail.rmv.ac.in"><span><strong>Email &raquo;</strong></span></a></li> 
		</ul> 

		<ul class="box"> 
			{% for name, url in settings.MAIN_MENU %}
				<li {% if url in request.path %} id="menu-active" {% endif %}>
					<a href="{{ url }}"><span> {{ name }} </span></a>
				</li>
			{% endfor %}
		</ul> 
		
	</div> <!-- /header --> 
 
	<hr class="noscreen" />   

{% endblock %}