{% block mainmenu %}

	<hr class="noscreen" /> 

	<!-- Menu --> 
	<div id="menu" class="box"> 
 
		<ul class="box f-right"> 
			<li><a href="http://mail.rmv.ac.in"><span><strong>Email &raquo;</strong></span></a></li> 
		</ul> 

		<ul class="box"> 
			{% for item in settings.MAIN_MENU %}
				<li {% if item.1 in request.path %} id="menu-active" {% endif %}>
					<a href="{{ item.1 }}"><span> {{ item.0 }} </span></a>
				</li>
			{% endfor %}
		</ul> 
		
	</div> <!-- /header --> 
 
	<hr class="noscreen" />   

{% endblock %}