Django>=1.3

django-endless-pagination>=1.0
django-notification>=0.1.5

# For Database
# ===========================
South>=0.7.3
MySQL-python>=1.2.3
psycopg2>=2.4


# For Production Server
# ===========================
django-compressor>=0.7.1


# For Admin Interface
# ===========================
fullhistory>=0.3.0-final
feedparser>=5.0.1
django-admin-tools>=0.4.0
django-grappelli>=2.3.2


# For openid
# ===========================
https://download.github.com/adieu-python-openid-03773fb.tar.gz#egg=python-openid
https://bitbucket.org/sramana/django-openid-auth/get/4500d4507e91.tar.gz#egg=django-openid-auth


# For Google Apps
# ===========================
gdata>=2.0.14


# For Profile Photos
# ===========================
PIL==1.1.7
https://download.github.com/ericflo-django-avatar-1.0.3-111-gbc0a346.tar.gz#egg=django-avatar


# For Developers
# ===========================
ipython>=0.10.2
docutils>=0.7
django-debug-toolbar>=0.8.5
Fabric>=1.0.1
pylint>=0.23.0
nose>=1.0.0
djangosanetesting>=0.5.10
django-extensions>=0.6
Werkzeug>=0.6.2
Sphinx>=1.0.7
BeautifulSoup>=3.2.0
